/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
background: #282828;
font-family: 'Julius Sans One', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
/* ---------------HEADER---------------  */
header {
	width: 100%;
	height: 60px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}
nav img {
	display: none;
}
.logo {
	color: #A38B5F;
	font-size: 50px;
}
ul {
  display: flex;
}
li {
  padding: 0 20px;
  color: #A38B5F;
}
a {
  text-decoration: none;
  color: #282828;
}
a:hover {
  color: white;
}
.nav-icons {
  width: 100%;
	color: #A38B5F;
}
.navBook {
	color: #A38B5F;
}

/* ---------------MAIN---------------  */
.main {
width: 100%;
height: 1000px;
background-image: url(../images/main-photo.jpg);
background-size: cover;
background-position: center;
border-bottom-right-radius: 300px;
clip-path: polygon(0 80%, 0 0, 100% 0, 100% 100%);
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 200px 0 0 150px;
position: relative;
}
.mainHeadline {
  font-size: 80px;
  font-weight: bold;
	color: lightgray;
  padding-bottom: 20px;
}
.mainStatement {
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  letter-spacing: 5px;
	color: lightgray;
}
.mainButton1 {
  height: 60px;
  width: 180px;
  background: #A38B5F;
  color: #282828;
  font-weight: bold;
  margin-top: 40px;
  border:none;
  border-radius: 4px;
  font-size: 14px;
}
.mainBox {
  height: 350px;
  width: 300px;
  background: #A38B5F;
  position: absolute;
  z-index: 2;
  margin-top: 500px;
  top: 18%;
  left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 4px;
}
.mainBoxSpan1 {
font-size: 16px;
font-weight: bold;
color: #282828;
padding-left: 30px;
}
.mainBoxSpan2 {
  font-size: 16px;
  font-weight: bold;
  color: #282828;
}
.mainBoxSpan3 {
  font-size: 16px;
  font-weight: bold;
  color: #282828;
  padding: 20px 0 0 30px;
}
.boldNumber {
  padding: 40px 0 0 30px;
}
.bold {
  font-size: 26px;
  font-weight: bold;
  color: #282828;
}
.mainButton2 {
  height: 70px;
  width: 200px;
  background: #000B14;
  color: white;
  font-weight: bold;
  border:none;
  border-radius: 4px;
  font-size: 14px;
  margin: 40px 0 0 30px;
}

/* ---------------SERVICES---------------  */
.services {
width: 100%;
height: 400px;
display: flex;
justify-content: center;
align-items: center;
padding: 0 200px;
}
.servicesIcon {
  width: 20%;
}
.servicesHeadline {
  font-size: 24px;
  font-weight: bold;
  color: #A38B5F;
  padding-top: 25px;
}
.servicesParagraph {
  font-size: 14px;
  font-weight: 400;
  color: #A38B5F;
  padding: 20px 0 0 0;
  line-height: 25px;
}
.quality, .beauticians, .products  {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 75px;
}

/* ---------------MOMENTUM---------------  */
.momentum {
width: 100%;
height: 660px;
background: #313B47;
display: flex;
justify-content: center;
align-items: center;
}
.momentumeColumn1 {
  width: 50%;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 100px 0 275px;
}
.momentumHeadline {
  font-size: 44px;
  font-weight: bold;
  color: #A38B5F;
  padding-bottom: 10px;
}
.momentumParagraph {
  font-size: 14px;
  font-weight: 400;
  color: #A38B5F;
  line-height: 25px;
  padding-top: 20px;
}
.momentumeColumn2 {
  width: 50%;
  height: 660px;
  display: flex;
  align-items: center
}
.momentumPhoto {
  width: 75%;
}

/* ---------------STYLISTS---------------  */
.stylists {
width: 100%;
height: 660px;
display: flex;
justify-content: center;
align-items: center;
}
.stylistColumn1, .stylistColumn2, .stylistColumn3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 30px;
  border: 5px solid #020A14;
}
.stylistBox {
  height: 70px;
  width: 220px;
  background: #A38B5F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 95%;
  left: auto;
  border-radius: 4px;
}
.stylistName {
  font-size: 16px;
  color: #282828;
  font-weight: bold;
}
.occupation {
  font-size: 12px;
  color: #282828;
  font-weight: bold;
  padding-top: 5px;
}

/* ---------------COUPON---------------  */
.coupon {
width: 100%;
height: 500px;
position: relative;
}
.couponPhoto {
  width: 50%;
  display: block;
  position: relative;
  top: 10%;
  left: 25%;
}
.couponBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 30%;
  left: 30%;
}
.couponSpan1 {
  font-size: 16px;
  font-weight: bold;
  color: #282828;
  padding-bottom: 20px;
}
.couponSpan2 {
  font-size: 26px;
  font-weight: bold;
  color: #282828;
}
.couponSpan3 {
  font-size: 26px;
  font-weight: bold;
  color: #282828;
  padding-bottom: 20px;
}
.couponParagraph {
padding-bottom: 20px;
}
.couponBold {
  font-size: 36px;
  font-weight: bold;
  color: #282828;
}
.couponButton {
  height: 70px;
  width: 240px;
  background: #000B14;
  color: white;
  font-weight: bold;
  border:none;
  border-radius: 4px;
  font-size: 14px;
}

/* ---------------LOOKBOOK---------------  */
.lookbook {
width: 100%;
height: 200px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
}
.lookbookHeadline {
  font-size: 44px;
  font-weight: bold;
  color: #A38B5F;
}
.lookbookDash {
  font-size: 44px;
  font-weight: bold;
  color: #A38B5F;
}

/* ---------------GALLERY---------------  */
.gallery  {
width: 100%;
height: 1300px;
display: flex;
justify-content: center;
align-items: flex-start;
gap: 2rem;
padding: 50px 0;
}
.galleryColumn1, .galleryColumn2, .galleryColumn3 {
  width: 20%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.galleryLong, .galleryShort {
	width: 100%;
}



/******************************************
/* MEDIA QUERIES
/*******************************************/
/* ------------------MEDIA QUERY-LAPTOP---------------------- */

@media screen and (min-width: 1400px) and (max-width: 1900px ) {
/* ---------------HEADER---------------  */
nav img {
	display: none;
}
	/* ---------------MAIN---------------  */
	.main {
	width: 100%;
	height: 800px;
	background-image: url(../images/main-photo.jpg);
	background-size: cover;
	background-position: center;
	border-bottom-right-radius: 300px;
	clip-path: polygon(0 80%, 0 0, 100% 0, 100% 100%);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	}
	.mainHeadline {
	  font-size: 60px;
	  font-weight: bold;
		color: lightgray;
	  padding-bottom: 20px;
	}
	.mainStatement {
	  font-size: 16px;
	  font-weight: 400;
	  padding-top: 10px;
	  letter-spacing: 2px;
		color: lightgray;
	}
	.mainButton1 {
	  height: 50px;
	  width: 150px;
	  background: #A38B5F;
	  color: #282828;
	  font-weight: bold;
	  margin-top: 40px;
	  border:none;
	  border-radius: 4px;
	  font-size: 12px;
	}
	.mainBox {
	  height: 300px;
	  width: 250px;
	  background: #A38B5F;
	  position: absolute;
	  z-index: 2;
	  top: 8%;
	  left: 11%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  border-radius: 4px;
	}
	.mainBoxSpan1 {
	font-size: 16px;
	font-weight: bold;
	color: #282828;
	padding-left: 30px;
	}
	.mainBoxSpan2 {
	  font-size: 14px;
	  font-weight: bold;
	  color: #282828;
	}
	.mainBoxSpan3 {
	  font-size: 14px;
	  font-weight: bold;
	  color: #282828;
	  padding: 20px 0 0 30px;
	}
	.boldNumber {
	  padding: 40px 0 0 30px;
	}
	.bold {
	  font-size: 26px;
	  font-weight: bold;
	  color: #282828;
	}
	.mainButton2 {
	  height: 50px;
	  width: 180px;
	  background: #000B14;
	  color: white;
	  font-weight: bold;
	  border:none;
	  border-radius: 4px;
	  font-size: 14px;
	  margin: 40px 0 0 30px;
	}

	/* ---------------SERVICES---------------  */
	.services {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 200px;
	}
	.servicesIcon {
	  width: 20%;
	}
	.servicesHeadline {
	  font-size: 22px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-top: 25px;
	}
	.servicesParagraph {
	  font-size: 14px;
	  font-weight: 400;
	  color: #A38B5F;
	  padding: 20px 0 0 0;
	  line-height: 15px;
	}
	.quality, .beauticians, .products  {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  padding: 0 50px;
	}

	/* ---------------MOMENTUM---------------  */
	.momentum {
	width: 100%;
	height: 660px;
	background: #313B47;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	.momentumeColumn1 {
	  width: 50%;
	  height: 660px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  padding: 0 40px 0 275px;
	}
	.momentumHeadline {
	  font-size: 34px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-bottom: 10px;
	}
	.momentumParagraph {
	  font-size: 14px;
	  font-weight: 400;
	  color: #A38B5F;
	  line-height: 20px;
	  padding-top: 20px;
	}
	.momentumeColumn2 {
	  width: 50%;
	  height: 660px;
	  display: flex;
	  align-items: center
	}
	.momentumPhoto {
	  width: 75%;
	}
	/* ---------------STYLISTS---------------  */
	.stylists {
	width: 100%;
	height: 660px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	}
	.stylistColumn1, .stylistColumn2, .stylistColumn3 {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  position: relative;
	  border: 5px solid #020A14;
	}
	.stylists {
		width: 80%;
	}

	/* ---------------COUPON---------------  */
	.coupon {
		width: 100%;
		height: 500px;
		position: relative;
		padding: 50px 200px 0 0;
	}
	.couponPhoto {
	  width: 60%;
	  position: relative;
		display: block;
	}
	.couponBox {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  position: absolute;
	  top: 30%;
	  left: 25%;
	}
	.couponSpan1 {
	  font-size: 14px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 20px;
	}
	.couponSpan2 {
	  font-size: 22px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponSpan3 {
	  font-size: 22px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 20px;
	}
	.couponParagraph {
	padding-bottom: 20px;
	}
	.couponBold {
	  font-size: 30px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponButton {
	  height: 60px;
	  width: 180px;
	  background: #000B14;
	  color: white;
	  font-weight: bold;
	  border:none;
	  border-radius: 4px;
	  font-size: 12px;
	}

	/* ---------------LOOKBOOK---------------  */
	.lookbook {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
	.lookbookHeadline {
	  font-size: 40px;
	  font-weight: bold;
	  color: #A38B5F;
	}
	.lookbookDash {
	  font-size: 40px;
	  font-weight: bold;
	  color: #A38B5F;
	}
	/* ---------------GALLERY---------------  */
	.gallery  {
	width: 100%;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	}
	.galleryColumn1, .galleryColumn2, .galleryColumn3 {
	  width: 20%;
	  height: 800px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
		gap: 1rem;
	}
	.galleryLong, .galleryShort {
		width: 100%;
	}
}

/* ------------------MEDIA QUERY-TABLET LANDSCAPE---------------------- */

@media screen and (min-width: 1200px) and (max-width: 1400px ){
	/* ---------------HEADER---------------  */
	nav img {
		display: none;
	}
	.logo {
		color: #A38B5F;
		font-size: 40px;
	}
	li {
	  padding: 0 15px;
	  color: #A38B5F;
	}
	/* ---------------MAIN---------------  */
	.main {
	width: 100%;
	height: 800px;
	background-image: url(../images/main-photo.jpg);
	background-size: cover;
	background-position: center;
	border-bottom-right-radius: 300px;
	clip-path: polygon(0 80%, 0 0, 100% 0, 100% 100%);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 0;
	padding-left: 80px;
	}
	.mainHeadline {
	  font-size: 60px;
	  font-weight: bold;
		color: lightgray;
	  padding: 0 0 20px 0;
	}
	.mainStatement {
	  font-size: 16px;
	  font-weight: 400;
	  padding-top: 10px;
	  letter-spacing: 1px;
		color: lightgray;

	}
	.mainButton1 {
	  height: 50px;
	  width: 150px;
	  background: #A38B5F;
	  color: #282828;
	  font-weight: bold;
	  margin-top: 40px;
	  border:none;
	  border-radius: 4px;
	  font-size: 14px;

	}
	.mainBox {
	  height: 300px;
	  width: 250px;
	  background: #A38B5F;
	  position: absolute;
	  z-index: 2;
	  margin-top: 500px;
	  top: 8%;
	  left: 6%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  border-radius: 4px;
	}
	.mainBoxSpan1 {
		font-size: 16px;
		font-weight: bold;
		color: #282828;
		padding-left: 20px;
	}
	.mainBoxSpan2 {
	  font-size: 16px;
	  font-weight: bold;
	  color: #282828;
	}
	.mainBoxSpan3 {
	  font-size: 16px;
	  font-weight: bold;
	  color: #282828;
	  padding: 20px 0 0 20px;
	}
	.boldNumber {
	  padding: 40px 0 0 20px;
	}
	.bold {
	  font-size: 20px;
	  font-weight: bold;
	  color: #282828;
	}
	.mainButton2 {
	  height: 50px;
	  width: 150px;
	  background: #000B14;
	  color: white;
	  font-weight: bold;
	  border:none;
	  border-radius: 4px;
	  font-size: 12px;
	  margin: 40px 0 0 20px;
	}
	/* ---------------SERVICES---------------  */
	.services {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 100px;
	}
	.servicesIcon {
	  width: 20%;
	}
	.servicesHeadline {
	  font-size: 20px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-top: 25px;
	}
	.servicesParagraph {
	  font-size: 14px;
	  font-weight: 400;
	  color: #A38B5F;
	  padding: 20px 0 0 0;
	  line-height: 20px;
	}
	.quality, .beauticians, .products  {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  padding: 0 50px;
	}
	/* ---------------MOMENTUM---------------  */
	.momentum {
	width: 100%;
	height: 600px;
	background: #313B47;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	.momentumeColumn1 {
	  width: 50%;
	  height: 600px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  padding: 0 50px 0 70px;
	}
	.momentumHeadline {
	  font-size: 34px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-bottom: 10px;
	}
	.momentumParagraph {
	  font-size: 14px;
	  font-weight: 400;
	  color: #A38B5F;
	  line-height: 20px;
	  padding-top: 20px;
	}
	.momentumeColumn2 {
	  width: 50%;
	  height: 600px;
	  display: flex;
	  align-items: center
	}
	.momentumPhoto {
	  width: 75%;
	}
	/* ---------------STYLISTS---------------  */
	.stylists {
		width: 100%;
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.stylistColumn1, .stylistColumn2, .stylistColumn3 {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  position: relative;
	  margin: 0;
		border: none;
	}
	.stylist {
		width: 75%;
		border: 5px solid #020A14;
	}
	.stylistBox {
	  height: 50px;
	  width: 150px;
	  background: #A38B5F;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  top: 95%;
	  left: auto;
	  border-radius: 4px;
	}
	.stylistName {
	  font-size: 14px;
	  color: #282828;
	  font-weight: bold;
	}
	.occupation {
	  font-size: 10px;
	  color: #282828;
	  font-weight: bold;
	  padding-top: 5px;
	}
	/* ---------------COUPON---------------  */
	.coupon {
	width: 100%;
	height: 400px;
	position: relative;
	}
	.couponPhoto {
	  width: 60%;
	  display: block;
	  position: relative;
	  top: 10%;
	  left: 20%;
	}
	.couponBox {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  position: absolute;
	  top: 20%;
	  left: 25%;
	}
	.couponSpan1 {
	  font-size: 14px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 20px;
	}
	.couponSpan2 {
	  font-size: 20px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponSpan3 {
	  font-size: 20px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 20px;
	}
	.couponParagraph {
	padding-bottom: 20px;
	}
	.couponBold {
	  font-size: 26px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponButton {
	  height: 50px;
	  width: 180px;
	  background: #000B14;
	  color: white;
	  font-weight: bold;
	  border:none;
	  border-radius: 4px;
	  font-size: 12px;
	}
	/* ---------------LOOKBOOK---------------  */
	.lookbook {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
	.lookbookHeadline, .lookbookDash {
	  font-size: 40px;
	  font-weight: bold;
	  color: #A38B5F;
	}

	/* ---------------GALLERY---------------  */
	.gallery  {
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 50px 0;
	}
	.galleryColumn1, .galleryColumn2, .galleryColumn3 {
	  width: 20%;
	  height: 700px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  gap: 1rem;
	}
	.galleryLong, .galleryShort {
		width: 100%;
	}
}
/* ------------------MEDIA QUERY-TABLET PORTRAIT---------------------- */

@media screen and (min-width: 800px) and (max-width: 1200px ){
	/* ---------------HEADER---------------  */

	nav {
		width: 100%;
		height: 60px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	nav ul {
		display: none;
	}
	nav img {
		display: block;
		width: 5%;
	}
	.logo {
		color: #A38B5F;
		font-size: 50px;
	}

	/* ---------------MAIN---------------  */
	.main {
	width: 100%;
	height: 600px;
	background-image: url(../images/main-photo.jpg);
	background-size: cover;
	background-position: center;
	border-bottom-right-radius: 300px;
	clip-path: polygon(0 80%, 0 0, 100% 0, 100% 100%);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 0;
	padding-left: 60px;
	}
	.mainHeadline {
	  font-size: 44px;
	  font-weight: bold;
		color: lightgray;
	  padding: 0 0 10px 0;
	}
	.mainStatement {
	  font-size: 14px;
	  font-weight: 400;
	  padding-top: 10px;
	  letter-spacing: 1px;
		color: lightgray;

	}
	.mainButton1 {
	  height: 50px;
	  width: 150px;
	  background: #A38B5F;
	  color: #282828;
	  font-weight: bold;
	  margin-top: 20px;
	  border:none;
	  border-radius: 4px;
	  font-size: 14px;

	}
	.mainBox {
	  height: 200px;
	  width: 200px;
	  background: #A38B5F;
	  position: absolute;
	  z-index: 2;
	  margin-top: 500px;
	  top: 1%;
	  left: 7%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  border-radius: 4px;
	}
	.mainBoxSpan1 {
		font-size: 14px;
		font-weight: bold;
		color: #282828;
		padding-left: 20px;
	}
	.mainBoxSpan2 {
	  font-size: 14px;
	  font-weight: bold;
	  color: #282828;
	}
	.mainBoxSpan3 {
	  font-size: 14px;
	  font-weight: bold;
	  color: #282828;
	  padding: 10px 0 0 20px;
	}
	.boldNumber {
	  padding: 20px 0 0 20px;
	}
	.bold {
	  font-size: 20px;
	  font-weight: bold;
	  color: #282828;
	}
	.mainButton2 {
	  height: 50px;
	  width: 150px;
	  background: #000B14;
	  color: white;
	  font-weight: bold;
	  border:none;
	  border-radius: 4px;
	  font-size: 12px;
	  margin: 20px 0 0 20px;
	}
	/* ---------------SERVICES---------------  */
	.services {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	}
	.servicesIcon {
	  width: 15%;
	}
	.servicesHeadline {
	  font-size: 20px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-top: 25px;
	}
	.servicesParagraph {
	  font-size: 14px;
	  font-weight: 400;
	  color: #A38B5F;
	  padding: 20px 0 0 0;
	  line-height: 15px;
	}
	.quality, .beauticians, .products  {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  padding: 0 20px;
	}
	/* ---------------MOMENTUM---------------  */
	.momentum {
	width: 100%;
	height: 400px;
	background: #313B47;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	.momentumeColumn1 {
	  width: 50%;
	  height: 400px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  padding: 0 0 0 50px;
	}
	.momentumHeadline {
	  font-size: 30px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-bottom: 10px;
	}
	.momentumParagraph {
	  display: none;
	}
	.momentumeColumn2 {
	  width: 50%;
	  height: 400px;
	  display: flex;
	  align-items: center
	}
	.momentumPhoto {
	  width: 75%;
	}
	/* ---------------STYLISTS---------------  */
	.stylists {
		width: 100%;
		height: 400px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.stylistColumn1, .stylistColumn2, .stylistColumn3 {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  position: relative;
	  margin: 0;
		border: none;
	}
	.stylist {
		width: 75%;
		border: 5px solid #020A14;
	}
	.stylistBox {
	  height: 40px;
	  width: 120px;
	  background: #A38B5F;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  top: 92%;
		left: auto;
	  border-radius: 4px;
	}
	.stylistName {
	  font-size: 12px;
	  color: #282828;
	  font-weight: bold;
		text-align: center;
	}
	.occupation {
	  font-size: 8px;
	  color: #282828;
	  font-weight: bold;
	  padding-top: 5px;
	}
	/* ---------------COUPON---------------  */
	.coupon {
	width: 100%;
	height: 200px;
	position: relative;
	}
	.couponPhoto {
	  width: 60%;
	  display: block;
	  position: relative;
	  top: 20%;
	  left: 20%;
	}
	.couponBox {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  position: absolute;
	  top: 30%;
	  left: 25%;
	}
	.couponSpan1 {
	  font-size: 14px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 10px;
	}
	.couponSpan2 {
	  font-size: 16px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponSpan3 {
	  font-size: 16px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 15px;
	}
	.couponParagraph {
	padding-bottom: 15px;
	}
	.couponBold {
	  font-size: 20px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponButton {
	  height: 50px;
	  width: 150px;
	  background: #000B14;
	  color: white;
	  font-weight: bold;
	  border:none;
	  border-radius: 4px;
	  font-size: 10px;
	}
	/* ---------------LOOKBOOK---------------  */
	.lookbook {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	}
	.lookbookHeadline, .lookbookDash {
	  font-size: 30px;
	  font-weight: bold;
	  color: #A38B5F;
	}

	/* ---------------GALLERY---------------  */
	.gallery  {
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	}
	.galleryColumn1, .galleryColumn2, .galleryColumn3 {
	  width: 20%;
	  height: 500px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  gap: 1rem;
	}
	.galleryLong, .galleryShort {
		width: 100%;
	}
}

/* ------------------MEDIA QUERY- SMALL TABLET ---------------------- */
@media screen and (min-width: 600px) and (max-width: 800px ){
	/* ---------------HEADER---------------  */
	header {
		width: 100%;
		height: 50px;
	}
	nav {
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	nav ul {
		display: none;
	}
	nav img {
		display: block;
		width: 5%;
	}
	.logo {
		color: #A38B5F;
		font-size: 40px;
	}
	.navBook {
		display: none;
	}
	/* ---------------MAIN---------------  */
	.main {
	width: 100%;
	height: 500px;
	background-image: url(../images/main-photo.jpg);
	background-size: cover;
	background-position: center;
	border-bottom-right-radius: 200px;
	clip-path: polygon(0 80%, 0 0, 100% 0, 100% 100%);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 0;
	padding: 100px 0 0 40px;
	}
	.mainHeadline {
	  font-size: 34px;
	  font-weight: bold;
		color: lightgray;
	  padding: 0 0 10px 0;
	}
	.mainStatement {
	  font-size: 12px;
	  font-weight: 400;
	  padding-top: 10px;
	  letter-spacing: 1px;
		color: lightgray;
	}
	.mainButton1 {
	  height: 40px;
	  width: 120px;
	  background: #A38B5F;
	  color: #282828;
	  font-weight: bold;
	  margin-top: 20px;
	  border:none;
	  border-radius: 4px;
	  font-size: 12px;

	}
	.mainBox {
	  height: 200px;
	  width: 200px;
	  background: #A38B5F;
	  position: absolute;
	  z-index: 2;
	  margin-top: 500px;
	  top: -14%;
	  left: 7%;
	  display: none;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  border-radius: 4px;
	}
	.mainBoxSpan1 {
		font-size: 14px;
		font-weight: bold;
		color: #282828;
		padding-left: 20px;
	}
	.mainBoxSpan2 {
	  font-size: 14px;
	  font-weight: bold;
	  color: #282828;
	}
	.mainBoxSpan3 {
	  font-size: 14px;
	  font-weight: bold;
	  color: #282828;
	  padding: 10px 0 0 20px;
	}
	.boldNumber {
	  padding: 20px 0 0 20px;
	}
	.bold {
	  font-size: 20px;
	  font-weight: bold;
	  color: #282828;
	}
	.mainButton2 {
	  height: 40px;
	  width: 120px;
	  background: #000B14;
	  color: white;
	  font-weight: bold;
	  border:none;
	  border-radius: 4px;
	  font-size: 10px;
	  margin: 20px 0 0 20px;
	}
	/* ---------------SERVICES---------------  */
	.services {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	}
	.servicesIcon {
	  width: 20%;
	}
	.servicesHeadline {
	  font-size: 16px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-top: 25px;
		line-height: 20px;
	}
	.servicesParagraph {
	  font-size: 12px;
	  font-weight: 400;
	  color: #A38B5F;
	  padding: 20px 0 0 0;
	  line-height: 12px;
	}
	.quality, .beauticians, .products  {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  padding: 0 20px;
	}
	/* ---------------MOMENTUM---------------  */
	.momentum {
	width: 100%;
	height: 300px;
	background: #313B47;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	.momentumeColumn1 {
	  width: 50%;
	  height: 300px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  padding: 0 0 0 50px;
	}
	.momentumHeadline {
	  font-size: 20px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-bottom: 10px;
	}
	.momentumParagraph {
	  display: none;
	}
	.momentumeColumn2 {
	  width: 50%;
	  height: 300px;
	  display: flex;
	  align-items: center
	}
	.momentumPhoto {
	  width: 90%;
		padding-right: 20px;
	}
	/* ---------------STYLISTS---------------  */
	.stylists {
		width: 100%;
		height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.stylistColumn1, .stylistColumn2, .stylistColumn3 {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  position: relative;
	  margin: 0;
		border: none;
	}
	.stylist {
		width: 75%;
		border: 5px solid #020A14;
	}
	.stylistBox {
	  height: 40px;
	  width: 120px;
	  background: #A38B5F;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  top: 92%;
	  left: auto;
	  border-radius: 4px;
	}
	.stylistName {
	  font-size: 10px;
	  color: #282828;
	  font-weight: bold;
		text-align: center;
	}
	.occupation {
	  font-size: 8px;
	  color: #282828;
	  font-weight: bold;
	  padding-top: 5px;
	}
	/* ---------------COUPON---------------  */
	.coupon {
	width: 100%;
	height: 200px;
	position: relative;
	}
	.couponPhoto {
	  width: 75%;
	  display: block;
	  position: relative;
	  top: 20%;
	  left: 10%;
	}
	.couponBox {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  position: absolute;
	  top: 30%;
	  left: 15%;
	}
	.couponSpan1 {
	  font-size: 12px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 10px;
	}
	.couponSpan2 {
	  font-size: 14px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponSpan3 {
	  font-size: 14px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 15px;
	}
	.couponParagraph {
	padding-bottom: 14px;
	}
	.couponBold {
	  font-size: 18px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponButton {
	  height: 40px;
	  width: 120px;
	  background: #000B14;
	  color: white;
	  font-weight: bold;
	  border:none;
	  border-radius: 4px;
	  font-size: 10px;
	}
	/* ---------------LOOKBOOK---------------  */
	.lookbook {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	}
	.lookbookHeadline, .lookbookDash {
	  font-size: 26px;
	  font-weight: bold;
	  color: #A38B5F;
	}

	/* ---------------GALLERY---------------  */
	.gallery  {
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 1rem;
	}
	.galleryColumn1, .galleryColumn2, .galleryColumn3 {
	  width: 20%;
	  height: 500px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  gap: 1rem;
	}
	.galleryLong, .galleryShort {
		width: 100%;
	}
}

/* ------------------MEDIA QUERY- MOBILE LANDSCAPE ---------------------- */
@media screen and (min-width: 480px) and (max-width: 600px ){
	/* ---------------HEADER---------------  */
	header {
		width: 100%;
		height: 50px;
	}
	nav {
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	nav ul {
		display: none;
	}
	nav img {
		display: block;
		width: 5%;
	}
	.logo {
		color: #A38B5F;
		font-size: 40px;
	}
	.navBook {
		display: none;
	}
	/* ---------------MAIN---------------  */
	.main {
	width: 100%;
	height: 400px;
	background-image: url(../images/main-photo.jpg);
	background-size: cover;
	background-position: center;
	border-bottom-right-radius: 200px;
	clip-path: polygon(0 80%, 0 0, 100% 0, 100% 100%);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 0;
	padding: 100px 0 0 40px;
	}
	.mainHeadline {
	  font-size: 28px;
	  font-weight: bold;
		color: lightgray;
	  padding: 0 0 10px 0;
	}
	.mainStatement {
	  font-size: 10px;
	  font-weight: 400;
	  padding-top: 10px;
	  letter-spacing: 0px;
		color: lightgray;
	}
	.mainButton1 {
	  height: 40px;
	  width: 120px;
	  background: #A38B5F;
	  color: #282828;
	  font-weight: bold;
	  margin-top: 20px;
	  border:none;
	  border-radius: 4px;
	  font-size: 12px;

	}
	.mainBox {
	 display: none;
	}

	/* ---------------SERVICES---------------  */
	.services {
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 20px 0 20px;
	}
	.servicesIcon {
	  width: 15%;
	}
	.servicesHeadline {
	  font-size: 18px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-top: 25px;
		line-height: 20px;
	}
	.servicesParagraph {
	  font-size: 14px;
	  font-weight: 400;
	  color: #A38B5F;
	  padding: 20px 20px 0 20px;
	  line-height: 15px;
	}
	.quality, .beauticians, .products  {
		width: 100%;
		height: 250px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  padding: 0 20px;
	}
	/* ---------------MOMENTUM---------------  */
	.momentum {
	width: 100%;
	height: 600px;
	background: #313B47;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	}
	.momentumeColumn1 {
	  width: 100%;
	  height: 300px;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	  align-items: center;
	  padding: 0 50px 0 50px;
	}
	.momentumHeadline {
	  font-size: 28px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-bottom: 10px;
	}
	.momentumParagraph {
		font-size: 12px;
	  font-weight: 400;
	  color: #A38B5F;
	  line-height: 15px;
	  padding-top: 20px;
	}
	.momentumeColumn2 {
	  width: 100%;
	  height: 300px;
	}
	.momentumPhoto {
	  width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;

	}
	/* ---------------STYLISTS---------------  */
	.stylists {
		width: 100%;
		height: 1200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.stylistColumn1, .stylistColumn2, .stylistColumn3 {
		width: 100%
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  position: relative;
	  margin: 0;
		padding: 40px 0;
		border: none;
	}
	.stylist {
		width: 65%;
		border: 5px solid #020A14;
	}
	.stylistBox {
	  height: 40px;
	  width: 120px;
	  background: #A38B5F;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  top: 85%;
	  left: auto;
	  border-radius: 4px;
	}
	.stylistName {
	  font-size: 10px;
	  color: #282828;
	  font-weight: bold;
		text-align: center;
	}
	.occupation {
	  font-size: 8px;
	  color: #282828;
	  font-weight: bold;
	  padding-top: 5px;
	}
	/* ---------------COUPON---------------  */
	.coupon {
	width: 100%;
	height: 200px;
	position: relative;
	}
	.couponPhoto {
	  width: 100%;
	  display: block;
	  position: relative;
	  top: 20%;
	  left: auto;
		right: auto;
	}
	.couponBox {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  position: absolute;
	  /* top: 40%; */
	  left: auto;
		padding-left: 40px;

	}
	.couponSpan1 {
	  font-size: 10px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 10px;
	}
	.couponSpan2 {
	  font-size: 12px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponSpan3 {
	  font-size: 12px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 15px;
	}
	.couponParagraph {
	padding-bottom: 12px;
	}
	.couponBold {
	  font-size: 16px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponButton {
	  height: 40px;
	  width: 120px;
	  background: #000B14;
	  color: white;
	  font-weight: bold;
	  border:none;
	  border-radius: 4px;
	  font-size: 10px;
	}
	/* ---------------LOOKBOOK---------------  */
	.lookbook {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	}
	.lookbookHeadline, .lookbookDash {
	  font-size: 24px;
	  font-weight: bold;
	  color: #A38B5F;
	}

	/* ---------------GALLERY---------------  */
	.gallery  {
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 1rem;
	}
	.galleryColumn1, .galleryColumn2, .galleryColumn3 {
	  width: 25%;
	  height: 500px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  gap: 1rem;
	}
	.galleryLong, .galleryShort {
		width: 100%;
	}
}

/* ------------------MEDIA QUERY- MOBILE LANDSCAPE ---------------------- */
@media screen and (min-width: 370px) and (max-width: 480px ){
	/* ---------------HEADER---------------  */
	header {
		width: 100%;
		height: 50px;
	}
	nav {
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	nav ul {
		display: none;
	}
	nav img {
		display: block;
		width: 7%;
	}
	.logo {
		color: #A38B5F;
		font-size: 40px;
	}
	.navBook {
		display: none;
	}
	/* ---------------MAIN---------------  */
	.main {
	width: 100%;
	height: 400px;
	background-image: url(../images/main-photo.jpg);
	background-size: cover;
	background-position: right;
	border-bottom-right-radius: 100px;
	clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 0;
	padding: 200px 0 0 40px;
	}
	.mainHeadline {
	  font-size: 28px;
	  font-weight: bold;
		color: lightgray;
	  padding: 0 0 10px 0;
	}
	.mainStatement {
	  font-size: 10px;
	  font-weight: 400;
	  padding-top: 10px;
	  letter-spacing: 0px;
		color: lightgray;
	}
	.mainButton1 {
	  height: 40px;
	  width: 120px;
	  background: #A38B5F;
	  color: #282828;
	  font-weight: bold;
	  margin-top: 20px;
	  border:none;
	  border-radius: 4px;
	  font-size: 12px;
	}
	.mainBox {
	 display: none;
	}

	/* ---------------SERVICES---------------  */
	.services {
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 20px 0 20px;
	}
	.servicesIcon {
	  width: 15%;
	}
	.servicesHeadline {
	  font-size: 18px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-top: 25px;
		line-height: 20px;
	}
	.servicesParagraph {
	  font-size: 14px;
	  font-weight: 400;
	  color: #A38B5F;
	  padding: 20px 20px 0 20px;
	  line-height: 15px;
	}
	.quality, .beauticians, .products  {
		width: 100%;
		height: 250px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  padding: 0 20px;
	}
	/* ---------------MOMENTUM---------------  */
	.momentum {
	width: 100%;
	height: 600px;
	background: #313B47;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	}
	.momentumeColumn1 {
	  width: 100%;
	  height: 300px;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	  align-items: center;
	  padding: 0 50px 0 50px;
	}
	.momentumHeadline {
	  font-size: 26px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-bottom: 5px;
	}
	.momentumParagraph {
		font-size: 12px;
	  font-weight: 400;
	  color: #A38B5F;
	  line-height: 15px;
	  padding-top: 15px;
	}
	.momentumeColumn2 {
	  width: 100%;
	  height: 300px;
	}
	.momentumPhoto {
	  width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;

	}
	/* ---------------STYLISTS---------------  */
	.stylists {
		width: 100%;
		height: 1200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.stylistColumn1, .stylistColumn2, .stylistColumn3 {
		width: 100%
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  position: relative;
	  margin: 0;
		padding: 40px 0;
		border: none;
	}
	.stylist {
		width: 65%;
		border: 5px solid #020A14;
	}
	.stylistBox {
	  height: 40px;
	  width: 120px;
	  background: #A38B5F;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  top: 85%;
	  left: auto;
	  border-radius: 4px;
	}
	.stylistName {
	  font-size: 10px;
	  color: #282828;
	  font-weight: bold;
		text-align: center;
	}
	.occupation {
	  font-size: 8px;
	  color: #282828;
	  font-weight: bold;
	  padding-top: 5px;
	}
	/* ---------------COUPON---------------  */
	.coupon {
	width: 100%;
	height: 200px;
	position: relative;
	}
	.couponPhoto {
	  width: 100%;
	  display: block;
	  position: relative;
	  top: 20%;
	  left: auto;
		right: auto;
	}
	.couponBox {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  position: absolute;
	  /* top: 40%; */
	  left: auto;
		padding-left: 40px;

	}
	.couponSpan1 {
	  font-size: 10px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 10px;
	}
	.couponSpan2 {
	  font-size: 12px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponSpan3 {
	  font-size: 12px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 15px;
	}
	.couponParagraph {
		padding-bottom: 12px;
	}
	.couponBold {
	  font-size: 16px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponButton {
	  height: 40px;
	  width: 120px;
	  background: #000B14;
	  color: white;
	  font-weight: bold;
	  border:none;
	  border-radius: 4px;
	  font-size: 10px;
	}
	/* ---------------LOOKBOOK---------------  */
	.lookbook {
		width: 100%;
		height: 150px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}
	.lookbookHeadline, .lookbookDash {
	  font-size: 24px;
	  font-weight: bold;
	  color: #A38B5F;
	}

	/* ---------------GALLERY---------------  */
	.gallery  {
		width: 100%;
		height: 400px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: 1rem;
	}
	.galleryColumn1, .galleryColumn2, .galleryColumn3 {
	  width: 25%;
	  height: 400px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  gap: 1rem;
	}
	.galleryLong, .galleryShort {
		width: 100%;
	}
}

/* ------------------MEDIA QUERY- MOBILE PORTRAIT ---------------------- */
@media screen and (max-width: 370px ){
	/* ---------------HEADER---------------  */
	header {
		width: 100%;
		height: 50px;
	}
	nav {
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	nav ul {
		display: none;
	}
	nav img {
		display: block;
		width: 7%;
	}
	.logo {
		color: #A38B5F;
		font-size: 40px;
	}
	.navBook {
		display: none;
	}
	/* ---------------MAIN---------------  */
	.main {
	width: 100%;
	height: 400px;
	background-image: url(../images/main-photo.jpg);
	background-size: cover;
	background-position: right;
	border-bottom-right-radius: 100px;
	clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 0;
	padding: 220px 0 0 40px;
	}
	.mainHeadline {
	  font-size: 24px;
	  font-weight: bold;
		color: lightgray;
	  padding: 0 0 5px 0;
	}
	.mainStatement {
	  font-size: 8px;
	  font-weight: 400;
	  padding-top: 10px;
	  letter-spacing: 0px;
		color: lightgray;
	}
	.mainButton1 {
	  height: 30px;
	  width: 100px;
	  background: #A38B5F;
	  color: #282828;
	  font-weight: bold;
	  margin-top: 20px;
	  border:none;
	  border-radius: 4px;
	  font-size: 10px;

	}
	.mainBox {
	 display: none;
	}

	/* ---------------SERVICES---------------  */
	.services {
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 20px 0 20px;
	}
	.servicesIcon {
	  width: 15%;
	}
	.servicesHeadline {
	  font-size: 18px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-top: 25px;
		line-height: 20px;
	}
	.servicesParagraph {
	  font-size: 12px;
	  font-weight: 400;
	  color: #A38B5F;
	  padding: 20px 20px 0 20px;
	  line-height: 15px;
	}
	.quality, .beauticians, .products  {
		width: 100%;
		height: 250px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  padding: 0 20px;
	}
	/* ---------------MOMENTUM---------------  */
	.momentum {
	width: 100%;
	height: 600px;
	background: #313B47;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	}
	.momentumeColumn1 {
	  width: 100%;
	  height: 300px;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	  align-items: center;
	  padding: 0 40px;
	}
	.momentumHeadline {
	  font-size: 18px;
	  font-weight: bold;
	  color: #A38B5F;
	  padding-bottom: 5px;
	}
	.momentumParagraph {
		font-size: 12px;
	  font-weight: 400;
	  color: #A38B5F;
	  line-height: 15px;
	  padding-top: 10px;
	}
	.momentumeColumn2 {
	  width: 100%;
	  height: 300px;
	}
	.momentumPhoto {
	  width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;

	}
	/* ---------------STYLISTS---------------  */
	.stylists {
		width: 100%;
		height: 1000px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.stylistColumn1, .stylistColumn2, .stylistColumn3 {
		width: 100%
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  position: relative;
	  margin: 0;
		padding: 40px 0;
		border: none;
	}
	.stylist {
		width: 60%;
		border: 5px solid #020A14;
	}
	.stylistBox {
	  height: 40px;
	  width: 120px;
	  background: #A38B5F;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  top: 85%;
	  left: auto;
	  border-radius: 4px;
	}
	.stylistName {
	  font-size: 10px;
	  color: #282828;
	  font-weight: bold;
		text-align: center;
	}
	.occupation {
	  font-size: 8px;
	  color: #282828;
	  font-weight: bold;
	  padding-top: 5px;
	}
	/* ---------------COUPON---------------  */
	.coupon {
	width: 100%;
	height: 200px;
	position: relative;
	}
	.couponPhoto {
	  width: 120%;
	  display: block;
	  position: relative;
	  top: 20%;
	  left: auto;
		right: auto;
	}
	.couponBox {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: flex-start;
	  position: absolute;
	  /* top: 40%; */
	  left: auto;
		padding-left: 40px;

	}
	.couponSpan1 {
	  font-size: 10px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 10px;
	}
	.couponSpan2 {
	  font-size: 12px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponSpan3 {
	  font-size: 12px;
	  font-weight: bold;
	  color: #282828;
	  padding-bottom: 15px;
	}
	.couponParagraph {
		padding-bottom: 12px;
	}
	.couponBold {
	  font-size: 16px;
	  font-weight: bold;
	  color: #282828;
	}
	.couponButton {
	  height: 30px;
	  width: 100px;
	  background: #000B14;
	  color: white;
	  font-weight: bold;
	  border:none;
	  border-radius: 4px;
	  font-size: 8px;
	}
	/* ---------------LOOKBOOK---------------  */
	.lookbook {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	}
	.lookbookHeadline, .lookbookDash {
	  font-size: 24px;
	  font-weight: bold;
	  color: #A38B5F;
	}

	/* ---------------GALLERY---------------  */
	.gallery  {
		width: 100%;
		height: 400px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: 1rem;
	}
	.galleryColumn1, .galleryColumn2, .galleryColumn3 {
	  width: 25%;
	  height: 400px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  gap: 1rem;
	}
	.galleryLong, .galleryShort {
		width: 100%;
	}
}
